[submodule "site/themes/paige"]
	path = site/themes/paige
	url = https://github.com/willfaught/paige.git
[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
